<div class="container" layout="column" layout-align="space-between stretch" flex>
  <md-content layout="column" layout-align="start center" flex>
    <div class="dashboard" layout="column" layout-align="start stretch">
      <div layout="column" layout-align="start stretch">
        <div class="dashboard__box" flex>
          <div class="big">Monumental is a web application which displays information about cultural heritage monuments based on data gathered on <a href="//wikidata.org">Wikidata</a>, <a href="//wikipedia.org">Wikipedia</a> and <a href="//commons.wikimedia.org">Wikimedia Commons</a>. Tool is created as a part of <a href="//meta.wikimedia.org/wiki/Connected_Open_Heritage">Connected Open Heritage</a> project by <a href="//se.wikimedia.org">Wikimedia Sweden</a> and <a href="//www.wikilovesmonuments.org/">Wiki Loves Monuments</a> initiative.</div>
        </div>
        <div class="dashboard__box" flex>
          <h4 class="md-title">Example monuments</h4>
          <md-card ng-repeat="example in $ctrl.examples" ui-sref="main.object({id: example.id})">
            <div class="md-card-image" layout="row" layout-align="center center">
              <img load-src="{{ ::example.img }}">
            </div>
            <md-card-title>
              <md-card-title-text>
                <a>{{ ::example.name }}</a>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </div>
        <div class="dashboard__box" flex>
          <h4 class="md-title">Example list of monuments</h4>
          <div>
            <a ui-sref="main.list({id: '1492'})">Barcelona</a>&nbsp;·
            <a ui-sref="main.list({id: '64'})">Berlin</a>&nbsp;·
            <a ui-sref="main.list({id: '2256'})">Birmingham</a>&nbsp;·
            <a ui-sref="main.list({id: '1780'})">Bratislava</a>&nbsp;·
            <a ui-sref="main.list({id: '24879'})">Bremen</a>&nbsp;·
            <a ui-sref="main.list({id: '239'})">Brussels</a>&nbsp;·
            <a ui-sref="main.list({id: '19660'})">Bucharest</a>&nbsp;·
            <a ui-sref="main.list({id: '1781'})">Budapest</a>&nbsp;·
            <a ui-sref="main.list({id: '365'})">Cologne</a>&nbsp;·
            <a ui-sref="main.list({id: '1295'})">Dortmund</a>&nbsp;·
            <a ui-sref="main.list({id: '1731'})">Dresden</a>&nbsp;·
            <a ui-sref="main.list({id: '1718'})">Düsseldorf</a>&nbsp;·
            <a ui-sref="main.list({id: '2066'})">Essen</a>&nbsp;·
            <a ui-sref="main.list({id: '1794'})">Frankfurt</a>&nbsp;·
            <a ui-sref="main.list({id: '52502'})">Gothenburg</a>&nbsp;·
            <a ui-sref="main.list({id: '9920'})">Haarlem</a>&nbsp;·
            <a ui-sref="main.list({id: '1055'})">Hamburg</a>&nbsp;·
            <a ui-sref="main.list({id: '1715'})">Hanover</a>&nbsp;·
            <a ui-sref="main.list({id: '1757'})">Helsinki</a>&nbsp;·
            <a ui-sref="main.list({id: '31487'})">Kraków</a>&nbsp;·
            <a ui-sref="main.list({id: '1899'})">Kyiv</a>&nbsp;·
            <a ui-sref="main.list({id: '39121'})">Leeds</a>&nbsp;·
            <a ui-sref="main.list({id: '2079'})">Leipzig</a>&nbsp;·
            <a ui-sref="main.list({id: '597'})">Lisbon</a>&nbsp;·
            <a ui-sref="main.list({id: '580'})">Łódź</a>&nbsp;·
            <a ui-sref="main.list({id: '2807'})">Madrid</a>&nbsp;·
            <a ui-sref="main.list({id: '23482'})">Marseille</a>&nbsp;·
            <a ui-sref="main.list({id: '490'})">Milan</a>&nbsp;·
            <a ui-sref="main.list({id: '1726'})">Munich</a>&nbsp;·
            <a ui-sref="main.list({id: '8851'})">Málaga</a> &nbsp;·
            <a ui-sref="main.list({id: '2090'})">Nuremberg</a>&nbsp;·
            <a ui-sref="main.list({id: '90'})">Paris</a>&nbsp;·
            <a ui-sref="main.list({id: '268'})">Poznań</a>&nbsp;·
            <a ui-sref="main.list({id: '1085'})">Prague</a>&nbsp;·
            <a ui-sref="main.list({id: '1773'})">Riga</a>&nbsp;·
            <a ui-sref="main.list({id: '220'})">Rome</a>&nbsp;·
            <a ui-sref="main.list({id: '2680952'})">Rotterdam</a>&nbsp;·
            <a ui-sref="main.list({id: '8717'})">Seville</a>&nbsp;·
            <a ui-sref="main.list({id: '42448'})">Sheffield</a>&nbsp;·
            <a ui-sref="main.list({id: '506250'})">Stockholm</a>&nbsp;·
            <a ui-sref="main.list({id: '1022'})">Stuttgart</a>&nbsp;·
            <a ui-sref="main.list({id: '495'})">Turin</a>&nbsp;·
            <a ui-sref="main.list({id: '8818'})">Valencia</a>&nbsp;·
            <a ui-sref="main.list({id: '1741'})">Vienna</a>&nbsp;·
            <a ui-sref="main.list({id: '216'})">Vilnius</a>&nbsp;·
            <a ui-sref="main.list({id: '270'})">Warsaw</a>&nbsp;·
            <a ui-sref="main.list({id: '1799'})">Wrocław</a>&nbsp;·
            <a ui-sref="main.list({id: '10305'})">Zaragoza</a>
          </div>
        </div>
        <div class="dashboard__box" flex>
          <h4 class="md-title">More</h4>
          <div layout="column" layout-align="start stretch">
            <p layout="column" layout-align="start stretch">
              <strong>Map</strong>
              <a href="#/map?c=51.5075:-0.0748:16">monuments nearby Tower of London</a>
              <a href="#/map?c=48.8583:2.2944:16">monuments nearby the Eiffel Tower</a>
            </p>
            <p layout="column" layout-align="start stretch">
              <strong>Games</strong>
              <a ui-sref="main.game.category()">Wikidata entry – Wikimedia Commons category matching</a>
            </p>
          </div>
        </div>
        <div class="dashboard__box" layout="column" layout-align="start stretch" flex>
          <h4 class="md-title">Language</h4>
          <span>You can set language interface here. This is an early implementation, you will see search results and monuments details in first selected language.</span>
          <p layout="row" layout-align="start start">
            <md-chips ng-model="$ctrl.languages" flex
                        md-max-chips="3"
                        md-require-match="true">
              <md-chip-template>
                <span>
                  <span>{{ $chip.nativeName }}</span>
                  <small>({{ $chip.code }})</small>
                </span>
              </md-chip-template>
              <md-autocomplete
                  md-selected-item="$ctrl.lang.selectedItem.lang"
                  md-items="item in $ctrl.searchLang($ctrl.lang.searchText)"
                  md-search-text="$ctrl.lang.searchText"
                  md-item-text="item.name"
                  ng-hide="$ctrl.languages.length > 2">
                <md-item-template>
                  <span md-highlight-text="$ctrl.lang.searchText">{{ item.nativeName }}</span>
                  <small>({{ item.code }})</small>
                </md-item-template>
              </md-autocomplete>
            </md-chips>
            <md-button class="md-primary" flex="20"
                        ng-click="$ctrl.saveUserLanguages()">
              Save
            </md-button>
          </p>
        </div>
      </div>
    </div>
  </md-content>
</div>