<div
  class="container"
  layout="column"
  layout-align="space-between stretch"
  flex
>
  <md-content layout="column" layout-align="start center" flex>
    <div class="dashboard" layout="column" layout-align="start stretch">
      <div layout="column" layout-align="start stretch">
        <div class="dashboard__box" flex>
          <div class="big">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/b/b9/FindingGLAMs_logo.svg"
            />
            <h3>FindingGLAMs</h3>
            <h5>
              Crowdsource cultural heritage data around the world
            </h5>
          </div>

          <p>
            Welcome to Monumental GLAM – the tool to explore cultural heritage
            institutions around the world.
          </p>
          <p>
            Enter the name of an institution in the search box above (for
            example, <i>Rijksmuseum</i>) to learn more, or explore institutions
            by entering a geographic region (for example, <i>Berlin</i>). You
            can also click an example item or city below.
          </p>
          <p>
            The tool displays information and multimedia about cultural heritage
            institutions gathered through Wikidata, Wikipedia and Wikimedia
            Commons. It is a modified version of
            <a href="https://tools.wmflabs.org/monumental/" target="_blank"
              >Monumental</a
            >
            and was developed as a part of the
            <a
              href="https://meta.wikimedia.org/wiki/FindingGLAMs"
              target="_blank"
              >FindingGLAMs</a
            >
            project by
            <a href="https://wikimedia.se/" target="_blank">Wikimedia Sverige</a
            >, with the goal of encouraging new users to contribute to the
            <a
              href="https://meta.wikimedia.org/wiki/FindingGLAMs_Campaign"
              target="_blank"
              >crowdsourcing campaign</a
            >.
          </p>
        </div>

        <div class="dashboard__box" flex>
          <h4 class="md-title">GLAMs nearby</h4>
          <p ng-if="!$ctrl.nearby">
            Please enable location services to see institutions. It may take a
            little while to load data.
          </p>
          <p ng-if="$ctrl.nearby && !$ctrl.nearby">
            No data about institutions nearby.
          </p>
          <p ng-if="$ctrl.nearby === 'error'">
            Error occured. Please enable location services to see institutions.
          </p>
          <md-card
            ng-repeat="example in $ctrl.nearby"
            ui-sref="main.museum({id: example.id})"
          >
            <div
              class="md-card-image"
              layout="row"
              layout-align="center center"
              ng-init="$ctrl.getImage(example)"
            >
              <img
                ng-if="example.image"
                load-src="{{ ::example.image.thumburl }}"
                title="Uploaded by: {{ ::example.image.user }}"
              />
            </div>
            <md-card-title>
              <md-card-title-text>
                <a>{{ ::example.name }}</a>
                <small class="muted"
                  >{{ ::example.distance | number }} km away</small
                >
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </div>

        <div class="dashboard__box" flex ng-if="false">
          <h4 class="md-title">Example institutions</h4>
          <md-card
            ng-repeat="example in $ctrl.examples track by example.id"
            ui-sref="main.object({id: example.id})"
          >
            <div
              class="md-card-image"
              layout="row"
              layout-align="center center"
            >
              <img
                load-src="{{ ::example.img }}"
                title="Credit: {{ ::example.credit }}"
              />
            </div>
            <md-card-title>
              <md-card-title-text>
                <a>{{ ::example.name }}</a>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </div>
        <div class="dashboard__box" flex>
          <h4 class="md-title">Explore a city</h4>
          <div>
            <a ui-sref="main.list({id: '506250'})">Stockholm</a>&nbsp;·
            <a ui-sref="main.list({id: '52502'})">Göteborg</a>&nbsp;·
            <a ui-sref="main.list({id: '503361'})">Malmö</a>&nbsp;·
            <a ui-sref="main.list({id: '59091'})">Uppsala</a>&nbsp;·
            <a ui-sref="main.list({id: '499410'})">Linköping</a>&nbsp;·
            <a ui-sref="main.list({id: '297718'})">Örebro</a>&nbsp;·
            <a ui-sref="main.list({id: '34550'})">Västerås</a>&nbsp;·
            <a ui-sref="main.list({id: '487648'})">Helsingborg</a>&nbsp;·
            <a ui-sref="main.list({id: '504676'})">Norrköping</a>&nbsp;·
            <a ui-sref="main.list({id: '504689'})">Jönköping</a>&nbsp;·
            <a ui-sref="main.list({id: '507709'})">Umeå</a>&nbsp;·
            <a ui-sref="main.list({id: '505018'})">Lund</a>&nbsp;·
            <a ui-sref="main.list({id: '894327'})">Borås</a>&nbsp;·
            <a ui-sref="main.list({id: '492575'})">Huddinge</a>&nbsp;·
            <a ui-sref="main.list({id: '503144'})">Eskilstuna</a>&nbsp;·
            <a ui-sref="main.list({id: '946647'})">Nacka</a>&nbsp;·
            <a ui-sref="main.list({id: '510010'})">Gävle</a>&nbsp;·
            <a ui-sref="main.list({id: '504692'})">Halmstad</a>&nbsp;·
            <a ui-sref="main.list({id: '504994'})">Sundsvall</a>&nbsp;·
            <a ui-sref="main.list({id: '516336'})">Södertälje</a>&nbsp;·
            <a ui-sref="main.list({id: '113718'})">Botkyrka</a>&nbsp;·
            <a ui-sref="main.list({id: '500217'})">Växjö</a>&nbsp;·
            <a ui-sref="main.list({id: '498453'})">Karlstad</a>
          </div>
        </div>
        <div
          id="language"
          class="dashboard__box"
          layout="column"
          layout-align="start stretch"
          flex
        >
          <h4 class="md-title">Language</h4>
          <span
            >You can set language interface here. This is an early
            implementation, you will see search results and institution details
            in selected language (and in English if not available).</span
          >
          <p layout="row" layout-align="start start">
            <md-chips
              ng-model="$ctrl.languages"
              flex
              md-max-chips="3"
              md-require-match="true"
            >
              <md-chip-template>
                <span>
                  <span>{{ $chip.nativeName }}</span>
                  <small>({{ $chip.code }})</small>
                </span>
              </md-chip-template>
              <md-autocomplete
                md-selected-item="$ctrl.lang.selectedItem.lang"
                md-items="item in $ctrl.searchLang($ctrl.lang.searchText)"
                md-search-text="$ctrl.lang.searchText"
                md-item-text="item.name"
                ng-hide="$ctrl.languages.length > 2"
              >
                <md-item-template>
                  <span md-highlight-text="$ctrl.lang.searchText">{{
                    item.nativeName
                  }}</span>
                  <small>({{ item.code }})</small>
                </md-item-template>
              </md-autocomplete>
            </md-chips>
            <md-button
              class="md-primary"
              flex="20"
              ng-click="$ctrl.saveUserLanguages()"
            >
              Save
            </md-button>
          </p>
        </div>
      </div>
    </div>
  </md-content>
</div>
<footer layout="column" layout-align="center center" flex>
  <md-content
    class="container small"
    flex
    layout="row"
    layout-align="center stretch"
    layout-xs="column"
    layout-align-xs="start stretch"
  >
    <div flex="75" flex-xs="100">
      <p class="big">
        &copy; 2017-2019 <a href="//github.com/yarl">Paweł Marynowski</a> and
        <a href="//github.com/slaporte">Stephen LaPorte</a> //
        <a href="//hatnote.com/">hatnote.com</a>
      </p>
      <p>
        Monumental is a free software available under
        <a href="//github.com/hatnote/monumental/blob/master/LICENSE"
          >BSD 3-Clause License</a
        >.
      </p>
      <p>
        <a href="//github.com/hatnote/monumental">source code</a> &bull;
        <a href="//phabricator.wikimedia.org/project/view/3879/"
          >report issue</a
        >
      </p>
    </div>
    <div class="text-right" flex>
      <p>
        version <strong>{{ ::$ctrl.config.package.version }}</strong> &bull; env
        <strong>{{ ::$ctrl.config.env.name }}</strong>
      </p>
    </div>
  </md-content>
</footer>
