<div class="container" layout="column" layout-align="space-between stretch" flex>
  <div layout="column" layout-align="start stretch" flex>
    <div class="monument__header" layout="column" layout-align="center center">
      <div class="monument"
            layout="row" layout-align="center start"
            layout-xs="column" layout-align-xs="start stretch">
        <div flex="none">
          <div class="monument__image">
            <a class="monument__image-link" layout="row" layout-align="center center"
                ng-repeat="image in $ctrl.image"
                ng-click="$ctrl.openImage(image, $event)">
              <img ng-src="{{image.thumburl}}">
            </a>
          </div>
        </div>

        <div layout="column" layout-align="start stretch" flex
              ng-if="!$ctrl.monument">
          <div class="monument__primary"
                layout="row" layout-align="center start"
                layout-xs="column" layout-align-xs="start stretch">
            <div flex>
              <h2 class="monument__title md-display-1"><span class="loading-line"></span></h2>
              <h4 class="monument__subtitle md-headline muted"><span class="loading-line"></span></h4>
            </div>
            <div flex="none" hide-xs></div>
          </div>
          <div class="monument__secondary">
            <div class="monument__place"><span class="loading-line"></span></div>
            <div layout="row" layout-align="center start"
                  layout-xs="column" layout-align-xs="start stretch">
              <div flex-gt-xs="60" layout="row" layout-align="start start">
                <div flex="none"><md-icon>photo</md-icon></div>
                <span class="loading-line" flex></span>
              </div>
              <div flex-gt-xs="40" layout="row" layout-align="start start">
                <div flex="none"><md-icon>descriptionk</md-icon></div>
                <span class="loading-line" flex></span>
              </div>
            </div>
            <div layout="row" layout-align="center start"
                  layout-xs="column" layout-align-xs="start stretch">
              <div flex-gt-xs="60" layout="row" layout-align="start start">
                <div flex="none"><md-icon>account_balance</md-icon></div>
                <span class="loading-line" flex></span>
              </div>
              <div flex-gt-xs="40" layout="row" layout-align="start start">
                <div flex="none"><md-icon>link</md-icon></div>
                <span class="loading-line" flex></span>
              </div>
            </div>
          </div>
        </div>

        <div layout="column" layout-align="start stretch" flex
              ng-if="$ctrl.monument">
          <div class="monument__primary"
                layout="row" layout-align="center start">
            <div flex>
              <h2 class="monument__title md-display-1"
                    ng-if="!$ctrl.monument.labels[$ctrl.lang.code]">
                <em>missing label in {{ ::$ctrl.lang.name }}</em>
              </h2>
              <h2 class="monument__title md-display-1"
                    ng-if="$ctrl.monument.labels[$ctrl.lang.code]">
                {{ ::$ctrl.monument.labels[$ctrl.lang.code] }}
              </h2>
              <h4 class="monument__subtitle md-headline muted">
                <mo-native-name monument="::$ctrl.monument"></mo-native-name>
              </h4>
            </div>
            <div flex="none">
              <md-button class="md-icon-button md-primary" aria-label="Open in Wikidata"
                          ng-href="//wikidata.org/wiki/{{ ::$ctrl.monument.id }}" target="_blank">
                <md-tooltip>Show Wikidata entry</md-tooltip>
                <md-icon md-svg-icon="assets/images/barcode.svg"></md-icon>
              </md-button>
            </div>
          </div>
          <div class="monument__secondary">
            <mo-location class="monument__place" monument="::$ctrl.monument"></mo-location>
            <div layout="row" layout-align="center start"
                  layout-xs="column" layout-align-xs="start stretch">
              <div flex-gt-xs="60" layout="row" layout-align="start start">
                <div flex="none"><md-icon>photo</md-icon></div>
                <span flex>
                  <a ng-if="$ctrl.category" ng-href="//commons.wikimedia.org/wiki/{{ $ctrl.category.title }}" target="_blank">
                    {{ $ctrl.category.files }} images
                    <span ng-if="$ctrl.category.subcats">and {{ $ctrl.category.subcats }} subcategories</span>
                  </a>
                  <span class="muted" ng-if="!$ctrl.category">no Commons category</span>
                </span>
              </div>
              <div flex-gt-xs="40" layout="row" layout-align="start start">
                <div flex="none"><md-icon>description</md-icon></div>
                <span flex>
                  <a href=""
                      ng-if="::($ctrl.interwiki.all.length)"
                      ng-click="$ctrl.showAllArticles = true; $ctrl.scrollTo('wikipedia')">
                    {{ ::$ctrl.interwiki.all.length }} languages
                  </a>
                  <span class="muted" ng-if="::(!$ctrl.interwiki.all.length)">no article</span>
                </span>
              </div>
            </div>
            <div layout="row" layout-align="center start"
                  layout-xs="column" layout-align-xs="start stretch">
              <div flex-gt-xs="60" layout="row" layout-align="start start">
                <div flex="none"><md-icon>account_balance</md-icon></div>
                <div flex layout="column" layout-align="start stretch">
                  <span ng-repeat="monType in $ctrl.monument.claims.P1435.values">
                    <a ng-href="http://www.wikidata.org/wiki/{{monType.value_id}}">{{ monType.value[$ctrl.lang] || monType.value.en }}</a>
                  </span>
                </div>
              </div>
              <mo-url monument="::$ctrl.monument" flex-gt-xs="40"></mo-url>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="monument__subheader" layout="row" layout-align="center stretch">
      <div class="monument__images" ng-if="$ctrl.images">
        <a ng-repeat="image in $ctrl.images" ng-click="$ctrl.openImage(image, $event)">
          <img ng-src="{{image.thumburl}}">
        </a>
      </div>
    </div>

    <div class="monument__data"
          layout="column" layout-align="start center">
      <div id="wikipedia" class="monument monument__panel monument__article"
            layout="column" layout-align="start stretch"
            ng-if="$ctrl.interwiki.all.length">
        <div class="article__header"
            layout="row" layout-align="start center">
          <h4 class="monument__subtitle md-headline">Wikipedia</h4>
          <span flex></span>
          <md-button class="md-primary md-icon-button"
                      ng-repeat="wiki in $ctrl.interwiki.shown"
                      ng-disabled="!wiki.title"
                      ng-click="$ctrl.getWikipediaArticle(wiki)">
            {{wiki.code}}
          </md-button>
          <md-button class="md-icon-button"
                      ng-click="$ctrl.showAllArticles = !$ctrl.showAllArticles">
            <md-icon>more_vert</md-icon>
          </md-button>
        </div>
        <div layout="column" layout-align="start end"
              class="article__text"
              ng-class="{ 'article__text--long' : $ctrl.showArticleLong }"
              ng-if="!$ctrl.showAllArticles">
          <div ng-bind-html="$ctrl.article.article"></div>
          <md-button class="md-primary"
                      ng-href="{{ $ctrl.article.link }}" target="_blank"
                      ng-if="$ctrl.article">
            Read more on Wikipedia
          </md-button>
        </div>
        <div class="article__text article__text--long article__text--all" 
              ng-if="$ctrl.showAllArticles">
          <div ng-repeat="wiki in $ctrl.interwiki.all">
            <span class="muted">{{ wiki.code }}</span>
            <a ng-href="{{ wiki.link }}" target="_blank">{{ wiki.title }}</a>
          </div>
        </div>
        <div class="article__more"
              layout="column" layout-align="center stretch"
              ng-if="$ctrl.isArticleLong && !$ctrl.showArticleLong && !$ctrl.showAllArticles">
          <md-button class="md-primary"
                      ng-click="$ctrl.showArticleLong = true">
            Show more
          </md-button>
        </div>
      </div>

      <div class="monument monument__panel" ng-if="$ctrl.monument">
        <div class="monument__details">
          <h4 class="monument__subtitle md-headline">Properties</h4>
          <div class="monument__details-item"
              layout="row" layout-align="center stretch"
              ng-repeat="claim in ::$ctrl.monument.claims">
            <span class="muted" flex="35">{{ ::(claim.property[$ctrl.lang.code] || claim.property.en) }}</span>
            <span flex="65"
                  layout="column" layout-align="start stretch">
              <span class="monument__details-value" ng-repeat="value in ::claim.values">
                <span ng-if="::(value.value_type === 'commonsMedia')">{{ ::value.value }}</span>
                <span ng-if="::(value.value_type === 'external-id')">{{ ::value.value }}</span>
                <span ng-if="::(value.value_type === 'globe-coordinate')">{{ ::value.value.latitude }} / {{ ::value.value.longitude }}</span>
                <span ng-if="::(value.value_type === 'quantity')">{{ ::value.value.amount }}</span>
                <span ng-if="::(value.value_type === 'string')">{{ ::value.value }}</span>
                <span ng-if="::(value.value_type === 'time')">{{ ::(value.value.time.substring(1) | date : 'yyyy') }}</span>
                <span ng-if="::(value.value_type === 'url')">{{ ::value.value }}</span>
                <a ng-if="::(value.value_type === 'wikibase-item')"
                  ng-href="http://www.wikidata.org/wiki/{{ ::value.value_id }}">{{ ::(value.value[$ctrl.lang.code] || value.value.en) }}</a>
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="monument monument__panel">
        <div class="monument__details">
          <h4 class="monument__subtitle md-headline">Map</h4>
          <leaflet ng-if="$ctrl.monument.claims.P625"
                    markers="::$ctrl.map.markers" layers="::$ctrl.map.layers" center="::$ctrl.map.center"></leaflet>
          <div layout="row" layout-align="center center"
                ng-if="$ctrl.monument.claims.P625">
            <!--
            <md-button class="md-primary" flex
                        ng-href="https://www.google.com/maps?q={{$ctrl.map.markers.marker.lat}},{{$ctrl.map.markers.marker.lng}}" target="_blank">
              <md-icon>map</md-icon> Show in Google Maps
            </md-button>
            <md-button class="md-primary" flex
                        ng-href="http://www.openstreetmap.org/#map=17/{{$ctrl.map.markers.marker.lat}}/{{$ctrl.map.markers.marker.lng}}" target="_blank">
              <md-icon>map</md-icon> Show in OSM.org
            </md-button>
            -->
            <md-button class="md-primary" flex
                        ng-href="#/map?c={{$ctrl.map.markers.marker.lat}}:{{$ctrl.map.markers.marker.lng}}:16">
              <md-icon>map</md-icon> Show all monuments nearby
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
