@import 'variables';

html, body {
  min-width: 100%;
  min-height: 100%;
}

body {
  color: $darkGrey;
  font: 16px Roboto, Arial, sans-serif; 
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
}

md-content {
  margin: 20px;
  background: transparent;
}

.container {
  background: #f5f5f5;
  min-height: calc(100vh - 64px);

  ui-view, ui-view > * {
    width: 100%;
  }
}

////

.link {
  cursor: pointer;
}

a, a.link {
  cursor: pointer;
  color: $primary;
  text-decoration: none;
}

.muted {
  color: $lightGrey;
}

.full-width {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.invisible {
  width: 0;
  height: 0;
  opacity: 0;
}

strong {
  font-weight: 500;
}