.cssload-container {
	width: 100%;
	height: 35px;
	text-align: center;
}

.cssload-speeding-wheel {
	width: 35px;
	height: 35px;
	margin: 0 auto;
	border: 4px solid rgb(41,128,185);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 875ms infinite linear;
		-o-animation: cssload-spin 875ms infinite linear;
		-ms-animation: cssload-spin 875ms infinite linear;
		-webkit-animation: cssload-spin 875ms infinite linear;
		-moz-animation: cssload-spin 875ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}