@import "../../styles/variables";
@import "../../styles/responsive";

.toolbar {
  padding: 0 5px;
  min-height: 54px;
  max-height: 54px;
  height: 54px;
  transition: all 0.2s ease-in-out;

  @include x-small {
    position: fixed;
    top: 0;
    z-index: 50;
    padding-right: 10px;
  }

  &.toolbar--hidden {
    @include x-small {
      top: -55px;
      transition: all 0.2s ease-in-out;
    }
  }

  &.toolbar--shown {
    @include x-small {
      top: 0;
      transition: all 0.2s ease-in-out;
    }
  }

  md-autocomplete {
    background: rgba(255, 255, 255, 0.15);

    md-autocomplete-wrap {
      box-shadow: none;

      input {
        padding: 0 10px;
        color: white;
      }

      ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.75);
      }
      ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.75);
      }
      :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.75);
      }
      :-moz-placeholder {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }

  .md-toolbar-tools {
    max-width: 980px;
    max-height: 54px;
    height: 54px;
    padding: 0;
  }

  .md-toolbar-tools-wide {
    max-width: none;
  }
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 1000 !important;
}

.toolbar__settings {
  position: absolute;
  width: 200px;
  z-index: 10;
  padding: 10px 25px;
  background: white;

  .toolbar__column {
    max-width: 980px;
  }
}

.md-sidenav-backdrop {
  position: fixed;
}

.md-sidenav-left {
  position: fixed;

  .sidenav__header {
    max-height: 100px;
    margin-top: -10px;
    padding-top: 50px;
    padding-bottom: 5px;
    background: #2980b9;
    color: white;
    font-weight: bold;
  }

  .md-subheader {
    background: transparent;
  }
}
