@import '../../styles/variables';
@import '../../styles/responsive';

.toolbar {
    .md-toolbar-tools {
        max-width: 980px;
        padding: 0;

        md-autocomplete {
            width: 300px;
        }
    }

    &.toolbar--wide .md-toolbar-tools {
        max-width: 100%;
        padding-left: 15px;
    }
}