<div class="container" layout="column" layout-align="start stretch" flex>
  <div layout="column" layout-align="start stretch" flex="none">
    <div class="list__header" layout="row" layout-align="center start">
      <div flex="none" hide-xs>
        <div class="header__image" ng-if="$ctrl.image.length">
          <a class="header__image-link" layout="row" layout-align="center center"
              ng-repeat="image in ::$ctrl.image"
              ng-if="$first"
              ng-href="{{ ::image.descriptionurl }}">
            <img ng-src="{{ ::image.thumburl }}">
          </a>
        </div>
        <div class="header__image" ng-if="!$ctrl.image.length">
          <div class="header__image-link" layout="row" layout-align="center center">
            <md-icon>close</md-icon>
          </div>
        </div>
      </div>
      <div layout="column" layout-align="start stretch" flex
            ng-if="$ctrl.place"
            ng-show="$ctrl.mobile.fullHeader">
        <div class="header__primary" layout="row" layout-align="center start">
          <div flex>
            <h2 class="header__title md-display-1"
                  ng-if="!$ctrl.place.labels[$ctrl.lang.code]">
              <em>missing label in {{ ::$ctrl.lang.name }}</em>
            </h2>
            <h2 class="header__title md-display-1"
                  ng-if="$ctrl.place.labels[$ctrl.lang.code]">
              {{ ::$ctrl.place.labels[$ctrl.lang.code] }}
            </h2>
            <h4 class="header__subtitle md-headline muted"><mo-native-name monument="$ctrl.place"></mo-native-name></h4>
          </div>
          <div flex="none">
            <md-button class="md-icon-button md-primary" aria-label="Open in Wikidata"
                        ng-href="//wikidata.org/wiki/{{ ::$ctrl.place.id }}" target="_blank">
              <md-icon md-svg-icon="assets/images/barcode.svg"></md-icon>
              <md-tooltip>Show Wikidata entry</md-tooltip>
            </md-button>
          </div>
        </div>
        <div class="header__secondary">
          <mo-location class="header__place" monument="::$ctrl.place"></mo-location>
        </div>
      </div>
      <div layout="row" layout-align="start center" flex
            ng-if="$ctrl.place"
            ng-show="!$ctrl.mobile.fullHeader">
        <div class="header__primary header__primary--compact" layout="row" layout-align="center start" flex>
          <div flex>
            <h4 class="header__subtitle md-headline">{{ ::$ctrl.place.labels[$ctrl.lang] || "no name" }}</h4>
          </div>
          <div flex="none">
            <md-button class="md-icon-button" aria-label="Show header"
                        ng-click="$ctrl.mobile.fullHeader = true">
              <md-icon>keyboard_arrow_down</md-icon>
            </md-button>
          </div>
        </div>
      </div>
      <div ng-if="!$ctrl.place" layout="column" layout-align="start stretch" flex></div>
    </div>
    <div class="list__subheader"
          layout="row" layout-align="start center"
          ng-if="$ctrl.mobile.fullHeader">
      <!--<md-input-container md-no-float>
        <input type="text" ng-model="$ctrl.filters.name" placeholder="Name">
      </md-input-container>-->
      <span ng-if="$ctrl.showMap">{{$ctrl.list.length}} results</span>
      <span ng-if="!$ctrl.showMap">Loading...</span>
      <div flex></div>
      <!--
      <md-button class="md-icon-button md-primary" aria-label="Open in Wikidata">
        <md-icon>filter_list</md-icon>
      </md-button>
      -->
      <md-button class="md-icon-button" aria-label="Hide header" hide-gt-xs
                  ng-click="$ctrl.mobile.fullHeader = false">
        <md-icon>keyboard_arrow_up</md-icon>
      </md-button>
    </div>
  </div>
  <md-content class="content" flex
                layout="row" layout-align="start stretch"
                ng-class="$ctrl.contentScrolled ? 'content--scrolled' : 'content--unscrolled'">
    <div class="list" flex="none" flex-xs="50"
          layout="column" layout-align="start stretch" 
          ng-swipe-left="$ctrl.showMyMap()">
      <div class="list__container" flex
            layout="column" layout-align="start stretch">
        <md-virtual-repeat-container flex>
          <md-list-item class="md-2-line"
                          md-virtual-repeat="item in $ctrl.list | orderBy: 'name.value'"
                          ui-sref="main.object({id: item.name.value_id.substring(1)})">
            <div class="list__image" layout="row" layout-align="center center">
              <img ng-src="{{ item.image }}" alt="{{ item.name.value }}" ng-if="item.image">
              <md-icon ng-if="!item.image">clear</md-icon>
            </div>
            <div class="md-list-item-text" layout="column">
              <p>{{ item.name.value }}</p>
              <p class="muted">{{ item.admin.value }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-if="!$ctrl.showMap">
            <div class="list__image" layout="row" layout-align="center center"></div>
            <div class="md-list-item-text" layout="column"></div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-if="!$ctrl.showMap">
            <div class="list__image" layout="row" layout-align="center center"></div>
            <div class="md-list-item-text" layout="column"></div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-if="!$ctrl.showMap">
            <div class="list__image" layout="row" layout-align="center center"></div>
            <div class="md-list-item-text" layout="column"></div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-if="!$ctrl.showMap">
            <div class="list__image" layout="row" layout-align="center center"></div>
            <div class="md-list-item-text" layout="column"></div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-if="!$ctrl.showMap">
            <div class="list__image" layout="row" layout-align="center center"></div>
            <div class="md-list-item-text" layout="column"></div>
          </md-list-item>
        </md-virtual-repeat-container>
      </div>
      <div class="list__swiper" ng-click="$ctrl.showMyMap()"></div>
    </div>
    <div class="list__map" flex flex-xs="50">
      <leaflet ng-if="$ctrl.showMap" flex
                markers="$ctrl.map.markers"
                markers-watch-options="$ctrl.map.markersWatchOptions"
                layers="::$ctrl.map.layers"
                center="::$ctrl.map.center"
                event-broadcast="$ctrl.map.events"></leaflet>
      <div class="list__swiper"
            ng-click="$ctrl.showMyList()"
            ng-swipe-right="$ctrl.showMyList()"></div>
    </div>
  </md-content>
</div>