<md-content layout="row" layout-align="start stretch" flex>
  <div class="list" layout="column" layout-align="start stretch" flex="none">
    <md-autocomplete
          md-input-name="autocompleteField"
          md-selected-item="$ctrl.search.selectedItem"
          md-search-text="$ctrl.search.text"
          md-items="item in $ctrl.querySearch($ctrl.search.text)"
          md-selected-item-change="$ctrl.goToItem(item)"
          md-item-text="item.label"
          md-min-length="1"
          placeholder="Search"
          md-menu-class="autocomplete-custom-template">
        <md-item-template>
           <strong>{{item.label}}</strong>
       <span>{{item.description}}</span>
      </md-item-template>
    </md-autocomplete>
    <md-virtual-repeat-container class="list__container" flex>
      <md-list-item>
        <span ng-if="$ctrl.showMap">{{$ctrl.list.length}} results</span>
        <span ng-if="!$ctrl.showMap">Loading...</span>
      </md-list-item>
      <md-list-item class="md-2-line"
                    md-virtual-repeat="item in $ctrl.list | orderBy: 'name.value'"
                    ui-sref="main.object({id: item.name.value_id.substring(1)})">
        <div class="list__image" layout="row" layout-align="center center">
          <img ng-src="{{item.image}}" alt="{{item.name.value}}" ng-if="item.image">
        </div>
        <div class="md-list-item-text" layout="column">
          <p>{{item.name.value}}</p>
          <p class="muted">{{item.admin.value}}</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-if="!$ctrl.showMap">
        <div class="list__image" layout="row" layout-align="center center"></div>
        <div class="md-list-item-text" layout="column"></div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-if="!$ctrl.showMap">
        <div class="list__image" layout="row" layout-align="center center"></div>
        <div class="md-list-item-text" layout="column"></div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-if="!$ctrl.showMap">
        <div class="list__image" layout="row" layout-align="center center"></div>
        <div class="md-list-item-text" layout="column"></div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-if="!$ctrl.showMap">
        <div class="list__image" layout="row" layout-align="center center"></div>
        <div class="md-list-item-text" layout="column"></div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-if="!$ctrl.showMap">
        <div class="list__image" layout="row" layout-align="center center"></div>
        <div class="md-list-item-text" layout="column"></div>
      </md-list-item>
    </md-virtual-repeat-container>
  </div>
  <div class="list__map" flex>
    <leaflet ng-if="$ctrl.showMap" markers="$ctrl.map.markers" layers="$ctrl.map.layers" center="$ctrl.map.center" flex></leaflet>
  </div>
</md-content>