@import '../../../styles/variables';
@import '../../../styles/responsive';

mo-list {
  .container {
    overflow: hidden;

    & > md-content {
      @include x-small { margin: 10px 10px 0; }
    }
  }

  .content {
    touch-action: none;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    
    @include x-small { width: calc(200vw - 70px); }

    &.content--scrolled {
      -webkit-transform: translateX(-48%);
      transform: translateX(-48%);

      @include x-small {
        .list__map .list__swiper {
          content: "";
          width: 35px;
          left: -35px;
          top: 0;
          background: transparent;
          position: absolute;
          height: 100%;
          z-index: 1010;
        }
      }
    }

    &.content--unscrolled {
      @include x-small {
        .list .list__swiper {
          content: "";
          width: 35px;
          right: -35px;
          top: 0;
          background: transparent;
          position: absolute;
          height: 100%;
          z-index: 1010;
        }
      }
    }
  }

  .list {
    position: relative;
    width: 450px;
  }

  .list__header {
    padding: 20px 25px 10px;
    background: white;
    border-bottom: 1px solid $softGrey;

    @include x-small { padding: 15px 20px 10px; }

    .header__primary {
      // margin-bottom: 10px;
      // border-bottom: 1px solid $softGrey;

      // @include x-small { margin-bottom: 5px; }

      &.header__primary--compact {
        margin-bottom: 0;
        border-bottom: 0;

        .header__subtitle {
          margin-bottom: 0;
        }

        .md-icon-button {
          width: 30px;
          min-height: 30px;
          height: 30px;
          padding: 0px;
        }
      }
    }

    .header__secondary {
      .material-icons {
        margin-right: 5px;
        color: $lightGrey;
      }
      & > div {
        margin-bottom: 15px;
      }
    }

    .header__image {
      width: 100px;
      height: 100px;
      padding: 5px;
      margin-right: 25px;
      border: 1px solid $softGrey;
    }

    .header__image-link {
      background: $softGrey;
      width: 100%;
      height: 100%;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .header__title {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 10px;
      font-size: 32px;
      line-height: 32px;

      @include x-small { font-size: 24px; line-height: 24px; }
    }

    .header__subtitle {
      margin-top: 0; 
      margin-bottom: 0;
      line-height: 24px;

      @include x-small { font-size: 20px; margin-bottom: 5px; }
    }

    .header__place {
      display: block;
    }
  }

  .list__subheader {
    padding: 15px 25px;
    background: #fafafa;
    border-bottom: 1px solid $softGrey;

    @include x-small { padding: 10px 20px; }

    .md-button {
      margin: 0 5px;
    }

    .md-icon-button {
      @include x-small {
        width: 30px;
        min-height: 30px;
        height: 30px;
        padding: 0px;
      }
    }

    md-input-container {
      margin: 0 5px;
      padding: 0;

      .md-errors-spacer {
        display: none;
      }

      md-select .md-select-value {
        min-width: 130px;
      }

      &.md-input-has-value label:not(.md-no-float) {
        -webkit-transform: translate3d(-1px, 14px, 0) scale(0.75);
        transform: translate3d(-1px, 14px, 0) scale(0.75);
      }
    }

    .list__quick-filter {
      md-input-container {
        width: 410px;
      }
      & > span {
        margin-left: 25px;
        font-weight: 500;
        font-size: 90%;
        text-transform: uppercase;
      }
    }
  }

  md-checkbox, md-checkbox:last-of-type {
    margin: 0 5px;
  }
  
  .list__container {
    margin-right: 20px;
    background: white;
    border: 1px solid $softGrey;
    border-radius: 2px;

    @include x-small { margin-right: 0; }

    md-list-item.md-2-line {
      border-bottom: 1px solid $softGrey;

      .md-button {
        @include x-small { padding: 0 10px; }
      }

      .list__action {
        display: none;
      }

      &.md-2-line--active {
        background-color: #e5e5e5;

        .list__action {
          display: block;
        }
      }
    }
  }

  .list__image {
    width: 75px;
    min-width: 75px;
    height: 75px;
    background: $softGrey;
    margin: 15px 15px 15px 0;

    @include x-small { 
      width: 65px;
      min-width: 65px;
      height: 65px;
      margin: 10px 10px 10px 0;
    }
    
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .list__map {
    position: relative;
    z-index: 10;
    background: white;
    border: 1px solid $softGrey;
    border-radius: 2px;

    @include x-small { margin-left: 10px; }

    .list__map--loading {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1010;
      background: rgba(229, 229, 229, 0.5);
    }

    .angular-leaflet-map {
      width: 100%;
      height: 100%;
    }

    .leaflet-popup-close-button {
      display: none;
    }

    .leaflet-popup-content-wrapper {
      padding: 0;
      border-radius: 2px;
    }

    .leaflet-popup-content {
      min-width: 250px;
      margin: 0;
      font: 16px Roboto, Arial, sans-serif;

      .md-button {
        padding: 0 !important;
      }
      
      .md-list-item-text {
        margin: 10px;
        height: 60px;

        p:first-child {
          // max-height: 36px;
          line-height: 1.4em;
        }
      }

      .list__image {
        margin: 0;
        width: 80px;
        min-width: 80px;
        height: 80px;
      }
    }
  }

  md-autocomplete {
    margin: 20px;
  }
}