<md-toolbar class="toolbar toolbar--wide md-whiteframe-3dp" layout="column" layout-align="start center">
	<div class="md-toolbar-tools">
		<md-button ui-sref="main.dashboard">
			Dashboard
		</md-button>
		<span flex></span>
    <md-autocomplete
          md-input-name="autocompleteField"
          md-selected-item="$ctrl.search.selectedItem"
          md-search-text="$ctrl.search.text"
          md-items="item in $ctrl.querySearch($ctrl.search.text)"
          md-selected-item-change="$ctrl.goToItem(item)"
          md-item-text="item.label"
          md-min-length="1"
          placeholder="Search"
          md-menu-class="autocomplete-custom-template">
        <md-item-template>
          <strong>{{item.label}}</strong>
      <span>{{item.description}}</span>
      </md-item-template>
    </md-autocomplete>
	</div>
</md-toolbar>
<div class="container" layout="column" layout-align="space-between stretch" flex>
  <md-content layout="row" layout-align="start stretch" flex>
    <div class="list" layout="column" layout-align="start stretch" flex="none">
      <div class="list__loading" layout="column" layout-align="center center"
          ng-if="$ctrl.map.center.zoom <= 12">
        <h4 class="md-title">Zoom in</h4>
      </div>
      <div class="list__loading" layout="column" layout-align="center center"
          ng-if="$ctrl.loading">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
      <div class="list__loading" layout="column" layout-align="center center"
          ng-if="$ctrl.map.center.zoom > 12 && !$ctrl.loading && !$ctrl.list.length">
        <h4 class="md-title">No results</h4>
      </div>
      <md-virtual-repeat-container class="list__container" flex>
        <md-list-item class="md-2-line"
                      md-virtual-repeat="item in $ctrl.list | orderBy: 'name.value'"
                      ui-sref="main.object({id: item.name.value_id.substring(1)})">
          <div class="list__image" layout="row" layout-align="center center">
            <img ng-src="{{item.image}}" alt="{{item.name.value}}" ng-if="item.image">
          </div>
          <div class="md-list-item-text" layout="column">
            <p>{{item.name.value}}</p>
            <p class="muted">{{item.admin.value}}</p>
          </div>
        </md-list-item>
      </md-virtual-repeat-container>
    </div>
    <div class="list__map" flex>
      <leaflet ng-if="!$ctrl.loadingMap"
                markers="$ctrl.map.markers"
                layers="$ctrl.map.layers"
                url-hash-center="yes"
                center="$ctrl.map.center" flex></leaflet>
    </div>
  </md-content>
</div>