<md-dialog class="dialog__image" ng-keydown="keyDown($event)">
  <form ng-cloak>
    <md-dialog-content layout="row" layout-align="start stretch"
                        layout-xs="column" layout-align-xs="start stretch">
      <div class="dialog__image-container" flex flex-xs="none"
            layout="row" layout-align="center center">
        <md-button class="md-icon-button dialog__close" ng-click="close()">
          <md-icon>close</md-icon>
        </md-button>
        <img ng-if="loaded" ng-src="{{ ::image.thumburlbig }}">
      </div>
      <div class="dialog__image-description"
         layout="column" layout-align="start stretch">
        <h2 class="md-title">{{ ::image.canonicaltitle }}</h2>
        <div>by {{ ::author | htmlToPlaintext }}</div>
        <md-list flex>
          <md-list-item class="md-2-line">
            <md-icon>
              cloud_upload
              <md-tooltip>File upload date</md-tooltip>
            </md-icon>
            <div class="md-list-item-text">
              <h3>{{ ::date | date }}</h3>
              <p>{{ ::date | date:'EEEE' }}, {{ ::date | date:'H:mm' }}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-2-line">
            <md-icon>
              image
              <md-tooltip>File resolution</md-tooltip>
            </md-icon>
            <div class="md-list-item-text">
              <h3>{{ (image.width * image.height) / 1000000 | number:2 }} Mpix</h3>
              <p>{{ ::image.width }} × {{ ::image.height }}</p>
            </div>
          </md-list-item>
          <md-divider></md-divider>
          <md-button class="md-primary" flex
                      ng-href="{{ ::image.descriptionurl }}" target="_blank">
            Wikimedia Commons
          </md-button>
        </md-list>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>